:root {
    --crema: #f7e6b5;
    --crema-oscuro: #cbb051;
    --germen: #f2e186;
    --pedicelo: #ffeaad;
    --morado-texto: #421052;
    --morado-texto-dark: color-mix(in srgb, var(--morado-texto) 30%, white);
    --morado-oscuro: #421152;
    --morado-claro: #785887;
    --morado-claro-x2: color-mix(in srgb, var(--morado-claro)70%, white);
    --morado-claro-x1-2: color-mix(in srgb, var(--morado-claro)85%, white);
    --amarillo-claro: #f2bd2d;
    --amarillo-oscuro: #f4aa2e;
    --rojo-claro: #c5584d;
    --rojo-oscuro: #831515;
    --azul-claro: #3b648d;
    --azul-oscuro: #00355f;

    --verde-palido: #86BC42;
    --azul-mensaje: #007fff;
    --azul-mensaje-claro: color-mix(in srgb, var(--azul-mensaje)70%, white);
    --verde-mas: #5cb85c;
    --base-font-size: 17px;
    --dark-grey: #121212;
    --dark-grey-11: color-mix(in srgb, var(--dark-grey) 89%, white);
    --dark-grey-12: color-mix(in srgb, var(--dark-grey) 88%, white);
    --dark-grey-14: color-mix(in srgb, var(--dark-grey) 86%, white);
    --separador: 1rem;
    --switch-izquierdo: var(--morado-claro);
    --switch-izquierdo-dark: var(--morado-claro-x2);
    --switch-derecho: var(--rojo-claro);
    --switch-derecho-dark: var(--rojo-claro);
    --fondo-blanco: color-mix(in srgb, white 99%, black);
    --sticky-height-teléfono: 60px;
    --rojo-dont: #cc0000;
    --pedicelo-claro-50: color-mix(in srgb, var(--pedicelo) 50%, white);
    --ancho-nav-var-desktop: 15rem;
    --alto-foto-lista-desktop: 23rem;
    --ancho-border-foto-secundaria: 3px;
}





html {
    font-size: var(--base-font-size);
    font-family: 'Noto Sans', sans-serif;

}

body aside#side-menu nav#contenido-sidebar {
    height: 90vh;
    overflow-y: scroll;
}

body aside#side-menu ul {
    list-style: disc;
    overflow: hidden;
}

body aside#side-menu ul li {
    line-height: 2;
}

h1 {
    text-align: center;
}

main header div#subtítulo-derecho button.cancelar {
    cursor: pointer;
}

form span.all-petite-caps {
    font-variant-caps: all-petite-caps;
}

form div.check-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

form div.check-box input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;

}

form div.switch-statement,
form div.a-fieldset {
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    height: auto;
    max-height: 1000px;
    /* necesario para que funcione la transición de altura aparecer-desaparecer*/

}

form div.switch-statement.hide,
form div.a-fieldset.hide {
    transition: all 0.5s 0s ease-in-out;
    max-height: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    opacity: 0%;
}

form div.switch-container strong {
    opacity: 0.5;
    cursor: pointer;
    transition: .6s;
}

form div.switch-container strong.seleccionado {
    font-size: 1.6rem;
    transition: .6s;
    opacity: 1;
}


form div.switch-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

}

form .switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 70px;
}

form .switch input {
    display: none;
}

form .switch .slider {
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .3s;
}

form .switch .slider:before {
    background-color: var(--germen);
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

form .switch input:checked+.slider {
    background-color: var(--switch-derecho);
}

form .switch input:checked+.slider:before {
    transform: translateX(36px);
}

form .switch .slider.round {
    border-radius: 34px;
}

form .switch .slider.round:before {
    border-radius: 50%;
}

form div.texto-medio {
    text-align: center;
}

form div.texto-medio strong {
    font-size: x-large;
}


form fieldset input {
    font-family: 'Noto Sans Mono', monospace;
    font-weight: bold;
}

form fieldset.unidad-de-medida input[type=number]::-webkit-outer-spin-button,
form fieldset.unidad-de-medida input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

form fieldset.unidad-de-medida input[type=number] {
    appearance: texfield;
    -moz-appearance: textfield;
}

form fieldset fieldset.lista-de-otros-container button.btn-añade {
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

div.un-e-lote {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin: 1rem;
    border: var(--ancho-border-foto-secundaria);
    border-style: solid;
    border-radius: 1rem;
    min-width: 0;
    /*flex*/
    gap: 0.5rem;
}

div.un-e-lote div.multi-foto {
    display: flex;
    flex-direction: row;
    max-width: 50%;
    gap: 0.3rem;
}

 div.foto.principal {

    flex-grow: 1;
    flex-basis: 1;
}


div.un-e-lote div.foto img {
    border-radius: 5%;
    max-width: 95%;
    border-width: var(--ancho-border-foto-secundaria);
    border-style: solid;

}

div.un-e-lote div.foto.secundaria {
    display: flex;
    min-height: 0;
    /*flex*/
    flex-direction: column;
    justify-content: space-between;
}

div.un-e-lote div.foto.secundaria img {
border-radius: 10%;
border-width: calc( var(--ancho-border-foto-secundaria) * 0.75 );
}


div.un-e-lote div.resumen-compacto-elote-lista {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
    max-height: var(--alto-foto-lista-desktop);

}

div.un-e-lote div.resumen-extendido-elote-lista {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
    max-height: var(--alto-foto-lista-desktop);
    max-width: 50%;

}


@media screen and (min-width: 100px) {

    /*phone*/
    body {
        /* width: 100%; */
        max-width: 100%;
        padding: 0 2vw;
        /* overflow: hidden; */
    }

    header.top {
        /* position: -webkit-sticky;
        position: sticky;
        z-index: 100;
        top: 0; */

        display: flex;
        flex-direction: row;
    }

    header.top #da-menu {

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

    }

    header.top svg {
        padding: 10px 20px;
        width: 30px;
        cursor: pointer;
    }

    header.top div#logotipo {
        width: 65%;
        margin-right: 30px;
    }

    div#logotipo {
        text-align: center;
    }

    div#logotipo img {
        border-radius: 0.4rem;
        width: 100%;
        max-width: 360px;
        margin-top: 0.5rem;
    }

    body aside#side-menu {
        max-height: 0;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        opacity: 0%;
        transition: all 0.6s 0s ease-in-out;
    }

    body aside#side-menu.show {
        transition: all 0.7s 0s ease-in-out;
        overflow: auto;
        max-height: 300vh;
        padding: 1rem;
        opacity: 100%;
        max-width: 70vw;
    }

    body aside#side-menu nav#contenido-sidebar {
        height: auto;
        overflow-y: auto;
    }

    body main header {

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        position: -webkit-sticky;
        position: sticky;
        z-index: 100;
        top: 0;
        background-color: var(--fondo-blanco);
        padding-bottom: 10px;
    }

    body main header div#subtítulo-izquierdo {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding-left: 10px;

    }

    body main header div#subtítulo-derecho {
        padding-right: 10px;
    }

    body main header div#subtítulo-izquierdo h4#subtíulo-top {
        font-size: 0.7rem;
        padding: 0;
        margin: 0;
        display: block;
    }

    body main header div#subtítulo-izquierdo h3#subtíulo-bottom {
        font-size: 1rem;
        padding: 0;
        margin: 0;
        display: block;
    }

    body main header div#subtítulo-derecho button.cancelar {
        font-size: 1rem;
        padding: 5px;
        border-radius: 5px;

    }

    form {
        margin-top: 0.5rem;
        max-width: 100%;
    }

    form fieldset {
        margin: 5vh 0;
        border: none;
        border-radius: 3vw;
    }

    form fieldset legend {
        font-size: larger;
    }

    form fieldset input {
        font-size: larger;
        border: 1vw solid;
        border-radius: 2.5vw;
        width: 94%;
        padding: 0.2rem 0.4rem;
        margin: 1vw 0;
        outline: none;
    }

    form fieldset input:hover,
    form fieldset input:focus {
        border: var(--ancho-border-foto-secundaria) solid;
    }

    form fieldset.unidad-de-medida div.numero-opciones {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
    }

    form fieldset.unidad-de-medida div.cifra {
        text-align: center;
        width: 100%;
    }

    form fieldset.unidad-de-medida div.cifra span.currency-companion {
        font-size: 1.5rem;
    }

    form fieldset.unidad-de-medida div.cifra input.valor-medido {
        max-width: 8ch;
        text-align: center;

    }

    form fieldset.unidad-de-medida select.opciones-unidad-de-medida {
        font-size: 1.5rem;
        text-align: center;
        max-width: 90%;
        border-radius: 5px;

    }

    form fieldset textarea[role="textbox"] {
        border-radius: 7px;
        width: calc(100% - 30px);
        font-size: 0.9rem;
        max-width: 100%;
        padding: 5px;
        cursor: pointer;
        /* height: 10rem; */
        min-height: 5rem;
        margin-top: 20px;
        resize: vertical;
        line-height: 1.5;
    }

    form div.check-box input {
        position: static;
    }

    form div.check-box input:checked:after {
        text-align: center;
        font-size: xx-large;
        font-weight: bold;
        content: '✓';
        margin-left: 0;
        margin-bottom: 0;
        position: relative;
        right: 4px;
        top: -14px;
    }

    form div.switch-container strong {
        font-size: 0.8rem;
        max-width: 30%;
    }

    form div.switch-container strong.seleccionado {
        font-size: 1.4rem;
        max-width: 40%;
    }

    form .switch .slider {
        width: 70px;
    }

    form div.switch-statement,
    form fieldset {
        margin-bottom: 2.5rem;

    }

    form div.switch-container strong.izquierda:hover,
    form div.switch-container strong.derecha:hover,
    form .switch .slider:hover {
        filter: brightness(2);
    }

    form .switch .slider:hover {
        filter: brightness(1.2);
    }

    form div.switch-statement div.switch-container strong.muy-grande {
        max-width: 40%;
        transition: 0.4s;
    }

    form div.switch-statement div.switch-container strong.seleccionado.muy-grande {
        max-width: 35%;
        font-size: large;
        transition: 0.4s;
    }

    form div.switch-statement div.switch-container strong.seleccionado.texto-grande-móvil {
        font-size: 1.1rem;
    }

    form div.check-box {
        padding: 1rem 0;
        gap: 0.5rem;
    }

    form div.check-box label.overboard {
        max-width: 60%;
    }

    form div.check-box input {
        width: 1.5rem;
        height: 1.5rem;
        border: 1px solid;
        border-radius: 1vw;
        cursor: pointer;
    }

    form div.check-box input:checked:after {
        text-align: center;
        font-size: x-large;
        font-weight: bold;
        content: '✓';
        margin-left: 0.15rem;
        margin-bottom: 0.15rem;
    }

    form div.check-box label {
        font-size: larger;
        cursor: pointer;
    }

    form div.check-box label.muy-grande {
        max-width: 80%;
    }

    form div.check-box label:hover {
        color: var(--rojo-claro);
        cursor: pointer;
    }



    form fieldset label.input-contraseña {
        position: relative;
    }

    form fieldset label.input-contraseña svg {
        position: absolute;
        top: -6px;
        right: 7px;
        width: 32px;
        height: 32px;
    }

    form fieldset fieldset.lista-de-otros-container {
        margin: 0 0.3rem;
    }

    form fieldset div.lista-de-otros fieldset {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 0.5rem;

        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
    }

    form fieldset div.lista-de-otros fieldset input {
        max-width: 90%;

    }

    form fieldset div.lista-de-otros fieldset button.btn-cerrar-x {
        font-size: xx-large;
        line-height: 1;
        padding: 0 7px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
    }

    form fieldset fieldset.lista-de-otros-container button.btn-añade {
        font-size: xx-large;
        line-height: 0.7;

        height: 50px;
        width: 50px;
        margin: 0 auto;

    }

    form fieldset#fotografías-del-e-lote {
        text-align: center;
    }

    form fieldset#fotografías-del-e-lote input#input-fotos {
        margin-bottom: 8px;
    }

    button.botón {
        margin: 8px auto;
        padding: 10px;
        font-size: 1rem;
        font-weight: bold;
        border: 2px solid;
        border-radius: 5px;
        cursor: pointer;
    }



    form button[type="submit"] {
        display: block;
        font-size: x-large;
        padding: 0.6rem 0.8rem;
        border: 2px solid;
        border-radius: 3vw;
        margin: 5vh auto;
        cursor: pointer;
    }



    div.opción {
        text-align: center;
        font-size: larger;
        margin: 3vh 0;
    }

    div.un-e-lote {
        font-size: 0.8rem;
    }

    div.un-e-lote div.multi-foto {
        max-width: 30%;
    }

    div.un-e-lote div.resumen-compacto-elote-lista div legend {
        display: none;
    }

    div.un-e-lote div.resumen-compacto-elote-lista div strong span.show-monitor {
        display: inline;
    }

    div.un-e-lote div.resumen-extendido-elote-lista {
        display: none;
        
    }

    div.un-e-lote div.foto.secundaria {
        display: none;
    }

    @media screen and (min-width: 577px) {

        /* tablets */
        html {
            font-size: larger;
        }

        body {
            max-width: 800px;
            margin: 0 auto;
        }


        form fieldset {
            margin: 1rem 0;
            border: none;
            border-radius: 3vw;
        }

        form fieldset input {
            border: 4px solid;
            border-radius: 0.4rem;
            width: 94%;
            padding: 0.2rem 0.4rem;
            margin: 1vw 0;
            outline: none;
        }

        form div.check-box {
            padding: 0.5rem 0;
        }

        form div.check-box input {
            border: var(--ancho-border-foto-secundaria) solid;
            border-radius: 0.2rem;
            outline: 2px solid;
        }

        form div.check-box input:hover {
            background-color: var(--morado-claro-x2);
        }

        form div.check-box input:checked:after {
            text-align: right;
            font-size: xx-large;
            content: "✓";
            margin-left: 0.25rem;
        }

        form button[type="submit"] {
            display: block;
            font-size: 1.35rem;
            padding: 1rem 1rem;
            border: 2px solid;
            border-radius: 2rem;
            margin: 2rem auto;
        }
    }

    @media screen and (min-width: 993px) {
        :root {
            --alto-foto-lista-desktop: 15rem;
        }

        /* desktop escritorio */
        html {
            font-size: calc(var(--base-font-size)*1.2);
        }

        header.top div#da-menu {
            display: none;
        }

        body {
            max-width: 100%;
            width: auto;
            margin: 0 auto;
        }

        body header.top {
            width: 100%;
        }

        body div.contenido-pantalla {
            display: table;
            table-layout: fixed;
        }

        body aside#side-menu {
            max-height: fit-content;
            display: table-cell;
            width: var(--ancho-nav-var-desktop);
            padding: 1rem;
            opacity: 100%;
        }

        body aside#side-menu nav#contenido-sidebar {
            position: sticky;
            top: 3rem;
            max-height: 80vh;
        }

        body div.contenido-pantalla {
            width: 100%;
        }

        body main {
            display: table-cell;
            width: max-content;
            padding: 0.5rem;
            text-align: center;
        }

        form fieldset,
        form div.switch-statement {
            margin: 3rem 0;
        }

        form fieldset legend {
            text-align: center;
        }

        form small {
            font-size: 1rem;
        }

        form div.switch-container strong {
            font-size: 1.1rem;
            max-width: 30%;
        }

        form div.check-box input:checked:after {
            text-align: right;
            font-size: xx-large;
            content: "✓";
            margin-left: 0.05rem;
            margin-bottom: 0.1rem;
        }

        div.un-e-lote {
            height: calc(var(--alto-foto-lista-desktop)+ 2rem);

        }

        div.un-e-lote div.multi-foto {
            max-width: 50%;
        }


        div.un-e-lote div.foto img.primaria {
            max-height: var(--alto-foto-lista-desktop);
        }
        
        div.un-e-lote div.foto.secundaria {
            display: flex;
        }

        div.un-e-lote div.foto img.secundaria {
            max-height: calc(var(--alto-foto-lista-desktop) * 0.95 * 0.3);
        }

        div.un-e-lote div.resumen-compacto-elote-lista {
            min-width: 10rem;
            padding: 0 0.5rem;
        }

        div.un-e-lote div.resumen-extendido-elote-lista {
            display: flex;
            column-gap: 1rem;
            row-gap: 0.5rem;
        }

        div.un-e-lote div.resumen-compacto-elote-lista div legend {
            display: block;
            text-align: left;
        }

        div.un-e-lote div.resumen-compacto-elote-lista div strong span.show-monitor {
            display: none;
        }

        div.un-e-lote div.resumen-extendido-elote-lista {
            text-align: left;
        }
    }

}

@media (prefers-color-scheme: light) {
    body {
        background-color: var(--fondo-blanco);
        color: var(--dark-grey);
    }

    h1 {
        color: var(--azul-claro);
    }

    header.top {
        background-color: var(--fondo-blanco);
    }

    header.top #da-menu,
    main header {
        background-color: var(--fondo-blanco);
        opacity: 1;
    }

    main header div#subtítulo-izquierdo h4#subtíulo-top {
        color: var(--azul-mensaje);
    }

    main header div#subtítulo-izquierdo h3#subtíulo-bottom {
        color: var(--rojo-claro);
    }

    main header div#subtítulo-derecho button.cancelar {
        background-color: var(--rojo-claro);
        color: var(--fondo-blanco);
        /* box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.666); */
    }

    main header div#subtítulo-derecho button.cancelar:hover,
    main header div#subtítulo-derecho button.cancelar:focus {
        background-color: var(--rojo-oscuro);
        color: var(--fondo-blanco);
    }

    main header div#subtítulo-derecho button.cancelar:active {
        background-color: var(--amarillo-oscuro);
        color: var(--morado-texto);
    }

    form fieldset {
        border-color: var(--rojo-claro);
    }

    form fieldset legend {
        color: var(--verde-palido);
    }

    form fieldset input {
        background-color: color-mix(in srgb, var(--fondo-blanco) 40%, white);
        border-color: var(--azul-claro);
    }

    form fieldset input:hover {
        border-color: var(--crema);
        background-color: color-mix(in srgb, var(--fondo-blanco) 30%, white);
    }

    form fieldset input:active,
    form fieldset input:focus {
        border-color: var(--amarillo-oscuro);
        background-color: white;
    }

    form fieldset input::placeholder,
    form fieldset input::-webkit-input-placeholder {
        /* Edge */
        color: lightgray;
    }

    form fieldset.unidad-de-medida select.opciones-unidad-de-medida {
        background-color: var(--pedicelo-claro-50);

    }

    form div.texto-medio {
        color: var(--morado-texto);
    }

    form div.check-box input {
        border-color: var(--morado-claro);
        background-color: var(--crema);
        outline-color: var(--morado-texto);
    }

    form div.check-box input:checked {
        color: var(--fondo-blanco);
        background-color: var(--amarillo-oscuro);
    }

    form div.check-box label {
        color: var(--morado-texto);
    }

    form fieldset label.input-contraseña svg {
        color: var(--dark-grey);
    }

    form div.switch-statement div.statement {
        color: var(--switch-izquierdo);
    }

    form .switch .slider {
        background-color: var(--switch-izquierdo);
    }

    form div.switch-container strong.izquierda,
    form div.switch-statement div.statement.izquierdo {
        color: var(--switch-izquierdo);
    }

    form div.switch-container strong.derecha,
    form div.switch-statement div.statement.derecho {
        color: var(--switch-derecho);
    }



    form fieldset div.lista-de-otros fieldset button.btn-cerrar-x {
        background-color: var(--rojo-dont);
        color: var(--fondo-blanco);
    }

    form fieldset div.lista-de-otros fieldset button.btn-cerrar-x:hover,
    form fieldset div.lista-de-otros fieldset button.btn-cerrar-x:focus {
        background-color: var(--rojo-claro);
        color: var(--fondo-blanco);
    }

    form fieldset fieldset.lista-de-otros-container button.btn-añade {
        background-color: var(--verde-mas);
        color: var(--fondo-blanco);
        border: none;

    }

    button.botón-morado {
        background-color: var(--morado-oscuro);
        color: var(--fondo-blanco);
    }

    button.botón-rojo {
        background-color: var(--rojo-claro);
        color: var(--fondo-blanco);
    }

    form fieldset textarea[role="textbox"] {
        background-color: var(--pedicelo-claro-50);
    }

    form button[type="submit"] {
        border-color: var(--azul-mensaje);
        color: white;
        background-color: var(--azul-mensaje);
    }

    form button[type="submit"]:hover {
        border-color: var(--azul-mensaje-claro);
        background-color: var(--azul-mensaje-claro);
    }

    form button[type="submit"]:active {
        border-color: var(--azul-oscuro);
        background-color: var(--azul-oscuro);
    }

    div.un-e-lote div.foto img {

        border-color: orange;
    }

}



@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-grey);
        color: var(--fondo-blanco);
    }

    h1 {
        color: var(--fondo-blanco);
    }

    div#logotipo img {
        background-color: var(--crema-oscuro);
    }

    main header div#subtítulo-izquierdo h4#subtíulo-top {
        color: var(--azul-mensaje);
    }

    main header div#subtítulo-izquierdo h3#subtíulo-bottom {
        color: var(--rojo-claro);
    }

    main header div#subtítulo-derecho button.cancelar {
        background-color: var(--rojo-oscuro);
        box-shadow: 1px 1px 4px 0 rgba(254, 254, 254, 0.666);
    }

    main header div#subtítulo-derecho button.cancelar:hover,
    main header div#subtítulo-derecho button.cancelar:focus {
        background-color: var(--rojo-claro);
    }

    main header div#subtítulo-derecho button.cancelar:active {
        background-color: var(--amarillo-oscuro);
        color: var(--morado-texto);
    }

    form fieldset legend {
        color: var(--morado-texto-dark);
    }

    form fieldset input {
        background-color: var(--dark-grey-11);
        border-color: var(--azul-claro);
        color: lightgray;
    }

    form fieldset input:hover {
        border-color: var(--crema);
        background-color: var(--dark-grey-12);
    }

    form fieldset input:active,
    form fieldset input:focus {
        border-color: var(--amarillo-oscuro);
        background-color: var(--dark-grey-14);
    }

    form div.texto-medio {
        color: var(--morado-texto-dark);
    }

    form div.check-box input {
        border-color: var(--morado-claro-x2);
        background-color: var(--crema-oscuro);
        outline-color: var(--morado-claro-x2);
    }

    form div.check-box input:checked {

        background-color: var(--amarillo-oscuro);
    }

    form div.check-box input:checked:after {
        color: var(--morado-texto);
    }

    form div.check-box label {
        color: var(--morado-texto-dark);
    }

    form fieldset label.input-contraseña svg {
        color: var(--fondo-blanco);
    }

    form div.switch-statement div.statement {
        color: var(--switch-izquierdo-dark);
    }

    form .switch .slider {
        background-color: var(--switch-izquierdo-dark);
    }

    form div.switch-container strong.izquierda,
    form div.switch-statement div.statement.izquierdo {
        color: var(--switch-izquierdo-dark);
    }

    form div.switch-container strong.derecha,
    form div.switch-statement div.statement.derecho {
        color: var(--switch-derecho-dark);
    }

    form fieldset textarea[role="textbox"] {
        background-color: var(--pedicelo);
    }

    form button[type="submit"] {
        border-color: var(--azul-mensaje);
        color: white;
        background-color: var(--azul-mensaje);
    }

    form button[type="submit"]:hover {
        border-color: var(--azul-mensaje-claro);
        background-color: var(--azul-mensaje-claro);
    }

    form button[type="submit"]:active {
        border-color: var(--crema-oscuro);
        background-color: var(--crema-oscuro);
    }

    div.opción a:link {
        color: var(--crema);
    }

    div.opción a:visited {
        color: var(--crema-oscuro);
    }
}