$crema: #f7e6b5;
$crema-oscuro: #cbb051;
$germen: #f2e186;
$pedicelo: #ffeaad;
$morado-texto: #421052;
$morado-texto-dark: color-mix(in srgb, $morado-texto 30%, white);
$morado-oscuro: #421152;
$morado-claro: #785887;
$morado-claro-x2: color-mix(in srgb, $morado-claro 70%, white);
$morado-claro-x1-2: color-mix(in srgb, $morado-claro 85%, white);
$amarillo-claro: #f2bd2d;
$amarillo-oscuro: #f4aa2e;
$rojo-claro: #c5584d;
$rojo-oscuro: #831515;
$azul-claro: #3b648d;
$azul-oscuro: #00355f;

$verde-palido: #86BC42;
$azul-mensaje: #007fff;
$azul-mensaje-claro: color-mix(in srgb, $azul-mensaje 70%, white);
$verde-mas: #5cb85c;

$dark-grey: #121212;
$lighter-dark-gray-1: lighten($dark-grey, 5%);
$lighter-dark-gray-2: lighten($dark-grey, 10%);
$lighter-dark-gray-3: lighten($dark-grey, 15%);
$separador: 1rem;
$switch-izquierdo: $morado-claro;
$switch-izquierdo-dark: $morado-claro-x2;
$switch-derecho: $rojo-claro;
$switch-derecho-dark: $rojo-claro;
$fondo-blanco: color-mix(in srgb, white 99%, black);
$sticky-height-teléfono: 60px;
$rojo-dont: #cc0000;
$pedicelo-claro-50: color-mix(in srgb, $pedicelo 50%, white);
$ancho-nav-var-desktop: 15rem;
$alto-foto-lista-desktop: 17rem;
$ancho-border-foto-secundaria: 3px;
$base-font-size: 17px;


$tablet: "screen and (min-width: 577px)";
$desktop: "screen and (min-width: 993px)";
$light: "(prefers-color-scheme: light)";
$dark: "(prefers-color-scheme: dark)";

html {


    font-size: $base-font-size;
    font-family: 'Noto Sans', sans-serif;

    @media #{$tablet} {
        font-size: larger;
    }

    @media #{$desktop} {

        $base-font-size: calc(17px*1.2);
        font-size: $base-font-size;
    }

}

h1 {
    text-align: center;

    color: $azul-claro;

    @media #{$dark} {
        color: $fondo-blanco;
    }
}

h2,
h3,
h4,
h5 {
    color: $verde-mas;
    padding-bottom: 1rem;
}

p {
    line-height: 1.5;
}


span.all-petite-caps,
li.all-petite-caps {
    font-variant-caps: all-petite-caps;
}

button.botón-morado {
    background-color: $morado-claro;
    color: $fondo-blanco;

    @media #{$dark} {
        background-color: $morado-oscuro;
        color: $crema;
    }

    &:hover {
        filter: brightness(1.2);
    }
}

button.botón-rojo {
    background-color: $rojo-claro;
    color: $fondo-blanco;

    @media #{$dark} {
        background-color: $rojo-oscuro;
        color: $crema;
    }

    &:hover {
        filter: brightness(1.1);
    }
}

dialog {
    @media #{$dark} {
        background-color: $lighter-dark-gray-1;
    }


    div.body {
        @media #{$dark} {
            color: $fondo-blanco;
        }
    }
}

dialog.información {

    @media #{$desktop} {
        min-width: 30rem;
        min-height: 30rem;
    }

    @media #{$dark} {
        color: $fondo-blanco;
    }

    header {
        p {
            line-height: 1;
        }
    }

    

    h2 {
        color: $verde-palido;
    }

    div.dialog-body {
        @media #{$desktop} {
            min-height: 20rem;
        }

        overflow-y: auto;
    }
}

dialog.información.visar-e-lote {
    width: 95vw;
    height: 95vh;
}

/*spin loader*/

@keyframes loading-spinner {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

div.cargando {
    text-align: center;
    margin: 0 auto;

    &.muy-chico {
        max-width: 10%;
    }

    &.chico {
        max-width: 25%;
    }

    &.mediano {
        max-width: 40%
    }

    svg.loading-svg {
        animation: loading-spinner 5s linear infinite;
        max-width: 100%;
        display: block;


    }

    strong {
        color: $morado-texto;

        @media #{$dark} {
            color: $morado-texto-dark;
        }
    }

}

/**
 * ==============================================
 * Dot Flashing
 * ==============================================
 */
@mixin le3dotsc {
    color: $morado-texto;

    @media #{$dark} {
        color: $amarillo-oscuro;
    }
}

@mixin le3dots {
    background-color: $morado-texto;

    @media #{$dark} {
        background-color: $amarillo-oscuro;
    }
}

.dot-flashing {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    @include le3dots;
    @include le3dotsc;
    animation: dot-flashing 1s infinite linear alternate;
    animation-delay: 0.5s;
}

.dot-flashing::before,
.dot-flashing::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
}

.dot-flashing::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    @include le3dots;
    @include le3dotsc;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 0s;
}

.dot-flashing::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    @include le3dots;
    @include le3dotsc;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 1s;
}

@keyframes dot-flashing {
    0% {
        @include le3dots;
    }

    50%,
    100% {
        background-color: $morado-texto-dark;

        @media #{$dark} {
            background-color: $amarillo-oscuro;
        }

    }
}

/*inicio carousel*/
div.carousel {
    @keyframes tonext {
        75% {
            left: 0;
        }

        95% {
            left: 100%;
        }

        98% {
            left: 100%;
        }

        99% {
            left: 0;
        }
    }

    @keyframes tostart {
        75% {
            left: 0;
        }

        95% {
            left: -300%;
        }

        98% {
            left: -300%;
        }

        99% {
            left: 0;
        }
    }

    @keyframes snap {
        96% {
            scroll-snap-align: center;
        }

        97% {
            scroll-snap-align: none;
        }

        99% {
            scroll-snap-align: none;
        }

        100% {
            scroll-snap-align: center;
        }
    }

    .cd__main {
        display: block !important;
    }

    * {
        box-sizing: border-box;
        scrollbar-color: transparent transparent;
        /* thumb and track color */
        scrollbar-width: 0px;
    }

    *::-webkit-scrollbar {
        width: 0;
    }

    *::-webkit-scrollbar-track {
        background: transparent;
    }

    *::-webkit-scrollbar-thumb {
        background: transparent;
        border: none;
    }

    * {
        -ms-overflow-style: none;
    }

    ol,
    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .carousel {
        position: relative;
        filter: drop-shadow(0 0 10px #0003);
        perspective: 100px;
        width: 800px;
        height: 600px;
        margin: 15px auto;
    }

    .carousel__viewport {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        overflow-x: scroll;
        counter-reset: item;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
    }

    .carousel__slide {
        position: relative;
        flex: 0 0 100%;
        width: 100%;
        background-color: #f99;

    }

    .carousel__slide:nth-child(even) {
        background-color: #99f;
    }

    .carousel__slide:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -40%, 70px);
        color: #fff;
        font-size: 2em;
    }

    .carousel__snapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        scroll-snap-align: center;
    }

    @media (hover: hover) {
        .carousel__snapper {
            animation-name: tonext, snap;
            animation-timing-function: ease;
            animation-duration: 4s;
            animation-iteration-count: infinite;
        }

        .carousel__slide:last-child .carousel__snapper {
            animation-name: tostart, snap;
        }
    }

    @media (prefers-reduced-motion: reduce) {
        .carousel__snapper {
            animation-name: none;
        }
    }

    .carousel:hover .carousel__snapper,
    .carousel:focus-within .carousel__snapper {
        animation-name: none;
    }

    .carousel__navigation {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
    }

    .carousel__navigation-list,
    .carousel__navigation-item {
        display: inline-block;
    }

    .carousel__navigation-button {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        background-color: #333;
        background-clip: content-box;
        border: 0.25rem solid transparent;
        border-radius: 50%;
        font-size: 0;
        transition: transform 0.1s;
    }

    .carousel::before,
    .carousel::after,
    .carousel__prev,
    .carousel__next {
        position: absolute;
        top: 0;
        margin-top: 37.5%;
        width: 4rem;
        height: 4rem;
        transform: translateY(-50%);
        border-radius: 50%;
        font-size: 0;
        outline: 0;
    }

    .carousel::before,
    .carousel__prev {
        left: 0;
    }

    .carousel::after,
    .carousel__next {
        right: 0;
    }

    .carousel::before,
    .carousel::after {
        content: '';
        z-index: 1;
        background-color: #333;
        background-size: 1.5rem 1.5rem;
        background-repeat: no-repeat;
        background-position: center center;
        color: #fff;
        font-size: 2.5rem;
        line-height: 4rem;
        text-align: center;
        pointer-events: none;
    }

    .carousel::before {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
    }

    .carousel::after {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
    }

    img {
        width: 800px;
        height: 600px;
    }
}

/*fin carousel*/


span.información {
    font-weight: 900;

    &:hover {
        cursor: pointer;
        filter: brightness(1.2);
    }
}

body {
    max-width: 100%;


    @media #{$tablet} {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 1vw;
    }

    @media #{$desktop} {
        max-width: 100%;
        width: auto;
        margin: 0 auto;


        div.contenido-pantalla {
            display: table;
            table-layout: fixed;
            width: 100%;
        }

        main {
            display: table-cell;
            width: max-content;
            padding: 0.5rem;
            text-align: center;
        }
    }

    background-color: $fondo-blanco;

    @media #{$dark} {
        background-color: $dark-grey;
        color: $fondo-blanco;
    }


}

// body header

body header.top {
    cursor: pointer;
    display: flex;
    flex-direction: row;

    @media #{$dark} {
        background-color: $lighter-dark-gray-1;
    }

    #da-menu {

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 1rem;

        @media #{$desktop} {
            display: none;
        }

    }

    div#logotipo {
        width: 65%;
        margin: 0 1rem;
        text-align: center;

        img,
        svg {
            padding: 10px 0px;

            cursor: pointer;

            border-radius: 0.4rem;
            width: 100%;
            max-width: 360px;
            margin-top: 0.5rem;

            @media #{$desktop} {
                max-width: 420px;
            }

            @media #{$tablet} {
                width: 70rem;
            }

        }
    }
}

//aside

@mixin sidebar-desktop {
    @media #{$desktop} {
        max-height: fit-content;
        display: table-cell;
        width: $ancho-nav-var-desktop;
        padding: 1rem;
        opacity: 100%;
        visibility: visible;

    }
}

@mixin le-hide {
    max-height: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    opacity: 0%;
    visibility: hidden;

}

@mixin le-show {
    transition: all 0.6s 0s ease-in-out;
    visibility: visible;
    opacity: 100%;
}




aside#side-menu {

    @include le-hide;
    transition: all 0.5s 0s ease-in-out;

    @include sidebar-desktop;

    &.show {
        @include le-show;
        overflow: auto;
        max-height: 300vh;
        padding: 1rem;
        max-width: 70vw;
        @include sidebar-desktop;

        nav#contenido-sidebar {

            height: auto;
            overflow-y: auto;
        }
    }

    nav#contenido-sidebar {

        @media #{$desktop} {
            position: sticky;
            top: 0;
            max-height: 100vh;
            overflow-y: scroll;
        }

        @media #{$dark} {
            background-color: $lighter-dark-gray-1;
        }

        ul {
            list-style: disc;
            overflow: hidden;

            li {
                line-height: 2;
            }
        }
    }

}


//main

main header {

    display: flex;
    flex-flow: row nowrap; //nowrap?
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: $fondo-blanco;
    padding-bottom: 10px;


    @media #{$desktop} {
        width: 100%;
    }

    background-color: $fondo-blanco;
    opacity: 1;

    @media #{$dark} {
        background-color: $lighter-dark-gray-1;
        padding: 0.5rem;
    }

    div#subtítulo-derecho {
        padding-right: 10px;

        button.cancelar {
            font-size: 1rem;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;

            background-color: $rojo-claro;
            color: $fondo-blanco;

            @media #{$dark} {
                background-color: $rojo-oscuro;
                box-shadow: 1px 1px 4px 0 rgba(254, 254, 254, 0.666);
            }

            &:hover,
            &:focus {
                background-color: $rojo-oscuro;

                @media #{$dark} {
                    background-color: $rojo-claro;
                }
            }

            &:active {
                background-color: $amarillo-oscuro;
                color: $morado-texto;

                @media #{$dark} {
                    background-color: $amarillo-oscuro;
                    color: $morado-texto;
                }
            }
        }
    }



    background-color: $fondo-blanco;
    opacity: 1;





    div#subtítulo-izquierdo {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding-left: 10px;

        h4#subtíulo-top {
            font-size: 0.7rem;
            padding: 0;
            margin: 0;
            display: block;

            color: $azul-mensaje;

            @media #{$dark} {
                color: $azul-mensaje;
            }
        }

        h3#subtíulo-bottom {
            font-size: 1rem;
            padding: 0;
            margin: 0;
            display: block;

            color: $rojo-claro;

            @media #{$dark} {
                color: $rojo-claro;
            }
        }

    }
}



//form

form {
    margin-top: 0.5rem;
    max-width: 100%;

    fieldset {
        margin: 5vh 0;
        border: none;
        border-radius: 3vw;

        @media #{$tablet} {
            margin: 1rem 0;
            border: none;
            border-radius: 3vw;
        }

        border-color: $rojo-claro;

        legend {
            font-size: larger;

            @media #{$desktop} {
                text-align: center;
            }

            color: $verde-palido;

            @media #{$dark} {
                color: $morado-texto-dark;
            }
        }

        input {
            font-size: larger;
            border: $ancho-border-foto-secundaria solid;
            border-radius: 2.5vw;
            width: 94%;
            padding: 0.2rem 0.4rem;
            margin: 1vw 0;
            outline: none;

            @media #{$desktop} {
                text-align: center;
            }

            @media #{$dark} {
                background-color: $lighter-dark-gray-2;
                border-color: $crema-oscuro;
                color: lightgray;
            }

            &:hover,
            &:focus {
                border: $ancho-border-foto-secundaria solid;
                border-color: $crema;
                background-color: color-mix(in srgb, $fondo-blanco) 30%, white;

                @media #{$dark} {
                    border-color: $crema;
                    background-color: $lighter-dark-gray-2;
                }
            }

            &:active {
                border-color: $amarillo-oscuro;
                background-color: white;

                @media #{$dark} {
                    border-color: $amarillo-oscuro;
                    background-color: $lighter-dark-gray-3;
                }
            }

            &::placeholder,
            &::-webkit-input-placeholder {
                /* Edge */
                color: lightgray;

                @media #{$dark} {
                    color: $lighter-dark-gray-3;
                }
            }

            background-color: color-mix(in srgb, $fondo-blanco) 40%,
            white;
            border-color: $azul-claro;


        }

        small {
            @media #{$desktop} {
                font-size: 1rem;
            }
        }
    }
}

form fieldset.unidad-de-medida {
    div.numero-opciones {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
    }

    div.cifra {
        text-align: center;
        width: 100%;

        span.currency-companion {
            font-size: 1.5rem;
        }

        input.valor-medido {
            max-width: 8ch;
            text-align: center;

        }
    }

    select.opciones-unidad-de-medida {
        font-size: 1.5rem;
        text-align: center;
        max-width: 90%;
        border-radius: 5px;

        background-color: $pedicelo-claro-50;

        @media #{$dark} {
            background-color: $lighter-dark-gray-2;
            color: lightgray;
        }

    }
}

form fieldset textarea[role="textbox"] {
    border-radius: 7px;
    width: calc(100% - 30px);
    font-size: 0.9rem;
    max-width: 100%;
    padding: 5px;
    cursor: pointer;
    /* height: 10rem; */
    min-height: 5rem;
    margin-top: 20px;
    resize: vertical;
    line-height: 1.5;

    background-color: $pedicelo-claro-50;

    @media #{$dark} {
        background-color: $lighter-dark-gray-2;
        color: lightgray;
    }
}

form div.check-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.6rem;
    padding: 1rem 0;


    @media #{$desktop} {
        padding: 0;
        margin: 0.5rem 0;
        line-height: 1;
    }

    &:hover {
        filter: brightness(1.2);
    }



    input {
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        appearance: none;
        position: static;
        width: 1.5rem;
        height: 1.5rem;
        border: 1px solid;
        border-radius: 1vw;
        cursor: pointer;

        @media #{$tablet} {
            border: --ancho-border-foto-secundaria solid;
            border-radius: 0.2rem;
            outline: 2px solid;

        }

        border-color: $morado-claro;
        background-color: $crema;
        outline-color: $morado-texto;

        @media #{$dark} {
            background-color: $azul-claro;
        }

        &:hover {
            background-color: $morado-claro-x2;
        }

        &:checked {
            color: $fondo-blanco;
            background-color: $amarillo-oscuro;
        }

        &:checked:after {
            text-align: center;
            font-size: x-large;
            font-weight: bold;
            content: '✓';
            margin-left: 0.15rem;
            margin-bottom: 0.15rem;
            position: relative;
            right: 4px;
            top: -14px;

            @media #{$tablet} {
                text-align: right;
                font-size: xx-large;
                content: "✓";
                margin-left: 0.25rem;
            }

            @media #{$desktop} {
                text-align: right;
                font-size: xx-large;
                content: "✓";
                margin-left: 0.05rem;
                margin-bottom: 0.1rem;
            }

            @media #{$dark} {
                color: $morado-texto;
            }
        }

    }

    label {
        font-size: larger;
        cursor: pointer;

        color: $morado-texto;

        @media #{$dark} {
            color: $morado-texto-dark;
        }

        &:hover {
            color: $rojo-claro;
            cursor: pointer;
        }

        &.muy-grande {
            max-width: 80%;
        }

    }
}

form fieldset label.input-contraseña {
    position: relative;

    svg {
        position: absolute;
        top: -6px;
        right: 7px;
        width: 32px;
        height: 32px;

        color: $dark-grey;

        @media #{$dark} {
            color: $fondo-blanco;
        }
    }
}

form fieldset fieldset.lista-de-otros-container {
    margin: 0 0.3rem;

    button.btn-añade {
        font-size: xx-large;
        line-height: 0.7;

        height: 50px;
        width: 50px;
        margin: 0 auto;

    }
}

form fieldset div.lista-de-otros fieldset {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5rem;

    margin-top: 0.3rem;
    margin-bottom: 0.3rem;

    input {
        max-width: 90%;

    }

    button.btn-cerrar-x {
        font-size: xx-large;
        line-height: 1;
        padding: 0 7px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;

        background-color: $rojo-dont;
        color: $fondo-blanco;

        &:hover,
        &.focus {
            background-color: $rojo-claro;
            color: $fondo-blanco;
        }
    }

}

form fieldset#fotografías-del-e-lote {
    text-align: center;

    input#input-fotos {
        margin-bottom: 8px;
    }

    button {
        margin: 0.5rem;
    }
}

button.botón {
    margin: 8px auto;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
}

form button[type="submit"] {
    display: block;
    font-size: x-large;
    padding: 0.6rem 0.8rem;
    border: 2px solid;
    border-radius: 3vw;
    margin: 5vh auto;
    cursor: pointer;

    @media #{$tablet} {
        display: block;
        font-size: 1.35rem;
        padding: 1rem 1rem;
        border: 2px solid;
        border-radius: 2rem;
        margin: 2rem auto;
    }

    border-color: $azul-mensaje;
    color: white;
    background-color: $azul-mensaje;

    @media #{$dark} {
        border-color: $azul-mensaje;
        color: white;
        background-color: $azul-mensaje;
    }

    &:hover,
    &:focus {

        border-color: $azul-mensaje-claro;
        background-color: $azul-mensaje-claro;

        @media #{$dark} {
            border-color: $azul-mensaje-claro;
            background-color: $azul-mensaje-claro;
        }
    }

    &:active {
        border-color: $azul-oscuro;
        background-color: $azul-oscuro;

        @media #{$dark} {
            border-color: $crema-oscuro;
            background-color: $crema-oscuro;
        }
    }
}

form div.switch-statement,
form div.a-fieldset {
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    height: auto;
    max-height: 3000px;
    margin: 0.75rem 0;

    /* necesario para que funcione la transición de altura aparecer-desaparecer*/
    &.hide {
        transition: all 0.5s 0s ease-in-out;
        max-height: 0;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        opacity: 0%;
        /*recently added*/
        visibility: hidden;
    }
}

form div.switch-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    @media #{$desktop} {
        margin: 0.75rem 0;
    }

    strong {
        opacity: 0.5;
        cursor: pointer;
        transition: .6s;
        font-size: 0.8rem;
        max-width: 30%;

        @media #{$desktop} {
            font-size: 1.1rem;
            max-width: 30%;
        }

        &.muy-grande {
            max-width: 40%;
        }

        &.izquierda {
            color: $switch-izquierdo;

            @media #{$dark} {
                color: $switch-izquierdo-dark;
            }
        }

        &.derecha {
            color: $switch-derecho;

            @media #{$dark} {
                color: $switch-derecho-dark;
            }
        }

        &.izquierda:hover,
        &.derecha:hover {
            filter: brightness(1.3);
            transition: 0.3s;
            font-size: larger;
        }

        &.seleccionado {
            font-size: 1.6rem;
            transition: .6s;
            opacity: 1;
            font-size: 1.4rem;
            max-width: 40%;

            &.muy-grande {
                max-width: 35%;
                font-size: large;
            }

            &.texto-grande-móvil {
                font-size: 1.1rem;
            }
        }

    }

}

form div.switch-statement div.statement {
    color: $switch-izquierdo;

    @media #{$dark} {
        color: $switch-izquierdo-dark;
    }

    &.izquierdo {
        color: $switch-izquierdo;

        @media #{$dark} {
            color: $switch-izquierdo-dark;
        }
    }

    &.derecho {
        color: $switch-derecho;

        @media #{$dark} {
            color: $switch-derecho-dark;
        }
    }
}

form .switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 70px;

    input {
        display: none;
    }

    .slider {
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: .3s;
        width: 70px;

        background-color: $switch-izquierdo;

        @media #{$dark} {
            background-color: $switch-izquierdo-dark;
        }

        &:hover {
            filter: brightness(1.1);
        }

        &:before {
            background-color: $germen;
            bottom: 4px;
            content: "";
            height: 26px;
            left: 4px;
            position: absolute;
            transition: .4s;
            width: 26px;
        }

        &.round {
            border-radius: 34px;

            &:before {
                border-radius: 50%;
            }
        }
    }
}

form .switch input:checked+.slider {
    background-color: $switch-derecho;

    &:before {
        transform: translateX(36px);
    }
}

form div.texto-medio {
    text-align: center;

    color: $morado-texto;

    @media #{$dark} {
        color: $morado-texto-dark;
    }

    strong {

        font-size: larger;

        @media #{$tablet} {
            font-size: x-large;
        }

    }
}

form fieldset input {
    font-family: 'Noto Sans Mono', monospace;
    font-weight: bold;
}

form input[type=number] {

    appearance: texfield;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

form fieldset fieldset.lista-de-otros-container button.btn-añade {
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    border: none;

    background-color: $verde-mas;
    color: $fondo-blanco;

}

//opcion

div.opción {
    text-align: center;
    font-size: larger;
    margin: 3vh 0;

    a:link {
        @media #{$dark} {
            color: $crema;
        }

    }

    a:visited {
        @media #{$dark} {
            color: $crema-oscuro;
        }
    }
}

// un-e-lote en lista
:root {
    --ancho-multi-fotos: calc(calc((100vw - 1rem)) * 0.4);
    --alto-foto-lista: calc(var(--ancho-multi-fotos) * 0.75 * 0.75);

    @media #{$tablet} {

        --ancho-multi-fotos: calc(calc((100vw - #{$ancho-nav-var-desktop})) * 0.8);
        --alto-foto-lista: calc(var(--ancho-multi-fotos) * 0.75 * 0.75 * .8);
    }

    @media #{$desktop} {
        --ancho-multi-fotos: calc(calc((100vw - #{$ancho-nav-var-desktop})) * 0.4);

    }

}


@mixin altura-tarjeta-ancha {

    max-height: var(--alto-foto-lista)
}

@mixin altura-normal {

    max-height: unset;
}

div.un-e-lote {
    position: relative;
    font-size: 3.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.4rem 0.3rem;
    margin: 1rem 0.2rem;
    border: $ancho-border-foto-secundaria;
    border-style: solid;
    border-radius: 1rem;
    min-width: 0;
    /*flex*/
    gap: 0.5rem;

    @media #{$tablet} {
        padding: 1rem;
        font-size: 0.8rem;
        justify-content: start;

    }

    border-color: $verde-palido;

    & * {
        @include altura-tarjeta-ancha;
    }
}

div.un-e-lote div.multi-foto {
    display: flex;
    flex-direction: row;
    width: calc(var(--ancho-multi-fotos) *(3 / 4) + 0.2rem);
    min-width: calc(var(--ancho-multi-fotos) *(3 / 4) + 0.2rem);
    gap: 0.3rem;



    div.foto img {
        border-radius: 5%;
        max-width: 95%;
        border-width: $ancho-border-foto-secundaria;
        border-style: solid;

        border-color: orange;

    }

    div.foto.principal {

        flex-grow: 1;
        flex-basis: 1;

        img {
            max-height: 95%;
        }

    }

    div.foto.secundaria {
        display: none;
        min-height: 0;
        /*flex*/
        flex-direction: column;
        justify-content: space-between;

        @media screen and (min-width: 557px) {
            display: flex;
        }

        img {
            border-radius: 10%;
            border-width: calc($ancho-border-foto-secundaria * 0.75);

            @media screen and (min-width: 557px) {
                max-height: calc(var(--alto-foto-lista) * 0.95 * 0.22);
            }

            @media #{$desktop} {
                max-height: calc(var(--alto-foto-lista) * 0.95 * 0.3);
            }
        }
    }
}

div.un-e-lote div.resumen {
    legend {
        font-weight: bold;
        color: $verde-palido;
    }

    strong {
        text-wrap: nowrap;
        overflow: hidden;

        @media #{$tablet} {
            text-wrap: wrap;
        }

        color: $morado-texto;

        @media #{$dark} {
            color: $morado-claro;
        }
    }
}

div.un-e-lote div.resumen.compacto.elote-lista {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
    padding-right: var(--le3-button-diameter);

    @media #{$tablet} {

        min-width: 10rem;
        padding: 0 0.5rem;
        column-gap: 0.7rem;

        div legend {
            display: block;
            text-align: left;
        }
    }

    div legend {
        display: none;

        @media #{$tablet} {}

        @media #{$desktop} {
            display: block;
        }
    }

    div strong span.show-monitor {
        display: inline;

        @media #{$desktop} {
            display: none;
        }
    }

}

div.un-e-lote div.resumen.extendido.elote-lista {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
    max-width: 50%;
    row-gap: 0.5rem;
    column-gap: 1rem;

    @media #{$tablet} {
        display: flex;
        text-align: left;
    }

}

:root {
    --le3-button-diameter: 2.5rem;

    @media #{$tablet} {
        --le3-button-diameter: 2.5rem;
    }

    @media #{$desktop} {
        --le3-button-diameter: 2.5rem;
    }
}

div.un-e-lote button.le3-dots {

    height: var(--le3-button-diameter);
    width: var(--le3-button-diameter);
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;

    border-radius: calc(var(--le3-button-diameter) / 3);
    position: absolute;
    top: 0px;
    right: 0px;



    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 1rem;
    border-width: $ancho-border-foto-secundaria;
    border-color: $verde-palido;
    background-color: $fondo-blanco;

    @media #{$dark} {
        background-color: $lighter-dark-gray-1;
    }

    svg {
        max-height: calc(var(--le3-button-diameter) / 2);

        stroke: $lighter-dark-gray-1;
        fill: $lighter-dark-gray-1;
        color: $lighter-dark-gray-1;

        @media #{$dark} {
            stroke: $fondo-blanco;
            fill: $fondo-blanco;
            color: $fondo-blanco;
        }

    }
}

div.un-e-lote menu.le3-dots {
    position: absolute;
    top: 0px;
    right: calc(var(--le3-button-diameter) + 0.1rem);
    @include le-hide;
    height: 0px;
    z-index: 100;
    list-style: none;
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-style: solid;
    border-width: $ancho-border-foto-secundaria;
    border-top-width: 0;
    background-color: $fondo-blanco;
    border-color: $verde-palido;

    @media #{$dark} {
        background-color: $lighter-dark-gray-2;
    }

    &.show {
        @include le-show;

        height: fit-content;
        max-height: fit-content;
        padding: 0.5rem 0.25rem;
    }

    li {
        text-align: center;
        letter-spacing: 0.1rem;
        font-size: large;
        font-weight: bold;
        line-height: 2.5;
        padding: 0.15rem 0.5rem;
        margin: 0.5rem 0.3rem;
        border-radius: 0.4rem;
        background-color: $crema;

        @media #{$dark} {

            background-color: $lighter-dark-gray-3;
        }

        &.le3-dots-inventario {
            color: $amarillo-oscuro;
        }

        &.le3-dots-ver {
            color: $verde-mas;

            @media #{$dark} {
                color: $verde-palido;
            }
        }

        &.le3-dots-eliminar {
            color: $rojo-dont;

            @media #{$dark} {
                color: $rojo-claro;
            }
        }

        &.le3-dots-editar {
            color: $morado-texto;

            @media #{$dark} {
                color: $morado-texto-dark;
            }
        }

        &.le3-dots-chats {
            color: $azul-mensaje;

            @media #{$dark} {
                color: darkcyan;
            }
        }
    }
}

// un-e-lote fullscreen

div.un-e-lote.pseudofullscreen {
    position: relative;
    font-size: 3.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.4rem 0.3rem;
    margin: 1rem 0.2rem;
    border: $ancho-border-foto-secundaria;
    border-style: solid;
    border-radius: 1rem;
    gap: 0.5rem;

    

    @media #{$tablet} {
        padding: 1rem;
        font-size: larger;
        justify-content: start;

    }
    border-color: $verde-palido;

    & * {
        @include altura-normal;
    }
    

    div.resumen div.lista legend {
        text-align: center;
        padding-top: 1em;
    }

    div.resumen.extendido.elote-lista {
        max-width: unset;
        text-align: center;
        display: flex;
    }
    

}

div.un-e-lote.pseudofullscreen div.multi-foto {
    width: 100%;
    min-width: 0;
    flex-direction: row;
    max-width: 100%;    
    max-height: unset;
    gap: 0.3rem;

    flex-wrap: wrap;

    div.foto.principal {
        text-align: center;
        flex-basis: 25%;
        flex-grow: 1;
        
        img {
            max-width: 100%;
            @media #{$tablet} {
                max-width: 50%;
            } 
            @media #{$desktop} {
                max-width: 25%;
            }
        }
    }

    div.foto.secundaria {
        
        flex-basis: 75%;
        flex-grow: 3;
        flex-direction: row;
        div.img-container {
            text-align: center;
        }
    }

    div.foto.principal img {
        max-width: 98%;
        width: 95%;
        max-height: unset;
        @media #{$tablet} {
            max-width: 30vw;
            width: 95%;
        } 
        @media #{$desktop} {
            width: 95%;
        }
        
    }

    div.foto.secundaria {
        display: flex;
        flex-direction: column;
        @media #{$tablet} {
            flex-direction: row;
        } 
    }

    div.foto.secundaria img {
        
        max-width: 95%;
        width: 95%;
        max-height: unset;
        @media #{$tablet} {
            
            width: 85%;
        } 
        @media #{$desktop} {
            
            width: 85%;
        }
    }
    
}

div.un-e-lote.pseudofullscreen div.resumen {
    font-size: larger;
}

div.un-e-lote.pseudofullscreen div.resumen.compacto.elote-lista {
    div legend {
        display: block;
        
    }

    div.dato.lista {
        text-align: center;
    }
}
